.container{
    display: flex;
    justify-content: center;
    gap: 2;
    padding: 4;
    background-color: black;
}


.left-text{
    flex: 1;
    padding: 60;
}

.canvas{
    position: relative;
    top: 50%;
    height: 850px;
    flex: 2;
}